body{
	color: white;
	font-style:italic;
	background-image: url('kass1.jpg');
	background-attachment:fixed;
	background-position: center bottom;
	background-repeat:no-repeat;
	background-size: cover;
	padding: 20px;
	font-size: 14pt;
	
}
main {
	padding: 20pt 20pt;
	margin: 0px;
	background-color: rgba(10,10,10,0.7);
	font-family: Arial, serif;
	border-radius: 10pt;
}
h1 {
	margin-top: 0px;
}
input, button {
	padding: 2pt 5pt;
	border-radius: 5pt;
	font-size: 14pt;
}
input {
	text-align: right;
}
dt, .arvuta {
	margin: 10pt 0pt;
}
dd {
	margin: 10pt 0pt 10pt 20pt;
}
